version: '3.8'

volumes:
  data:

networks:
  backend:

services:
# FRONTEND
  front:
    image: node:lts-alpine
    container_name: frontend
    working_dir: /app
    command: sh -c "npm install && npm run start"
#    build: ./front
    volumes:
      - ./front:/app
    ports:
      - "3000:3000"
    restart: unless-stopped
    networks:
      - backend
    depends_on:
      - back
# BACKEND
  back:
    image: node:lts-alpine
    container_name: backend
    working_dir: /app
    command: sh -c "npm install && npm install -g @nestjs/cli && npm run start:dev" 
#    build: ./back
    volumes:
      - ./back:/app
    ports:
      - "4000:4000"
    restart: unless-stopped
    networks:
      - backend
    depends_on:
      - postgres
# POSTGRES
  postgres:
    image: postgres:14-alpine
    container_name: postgres
    ports:
      - 5432:5432
    restart: unless-stopped
    volumes:
      - data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
    networks:
      - backend
    depends_on:
      - nginx
# NGINX
  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
#      - ./nginx/ssl-certs/cert.crt:/cert.crt
#      - ./nginx/ssl-certs/cert.key:/cert.key
#   build: ./nginx
    ports:
      - "1024:1024"
    command: sh -c "tail -f /dev/null"
    restart: unless-stopped
    networks:
    - backend
# PGADMIN
  pgadmin:
    container_name: pgadmin4
    image: dpage/pgadmin4
    restart: always
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
      - PGADMIN_LISTEN_PORT=${PGADMIN_LISTEN_PORT}
    ports:
      - "5050:5050"
    networks:
      - backend
    depends_on:
      - postgres