@im

:root {
  --radius-size: 50px;
}

.toolbar {
  height: 500px;
  position: absolute;
  left: -0.8px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 2.5px 2.5px 5px rgba(31, 33, 38, 0.25), -5px -5px 15px #363c45;
  border-radius: 0% var(--radius-size) var(--radius-size) 0%;
  background-image: linear-gradient(
    175deg,
    rgba(67, 97, 238, 50),
    rgba(0, 0, 0, 0)
  );
  padding: 0.8px;
}

.toolbar-top {
  width: 100%;
  height: 100%;
  border-radius: 0% var(--radius-size) var(--radius-size) 0%;
  background-color: #31353c;
  padding-top: 80px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
}
.toolbar-top.space-around {
  justify-content: space-between;
}

.icons {
  height: 40px;
  /* background: #31353C;
  box-shadow: 2px 2.5px 3.5px #1F2126, -2px -2px 3.5px #2F3655;
  stroke-width: 0.5px;
  stroke: blue; */
}

