
@font-face { font-family: Clip; src: url('../../public/font/clip.regular.ttf'); } 

:root {
  --dark-red: hsl(0, 90%, 4%);
  --neon-blue: hsl(190, 100%, 75%);
  --neon-pink: hsl(303, 100%, 73%);
  --size: 10;
  --unit: calc((var(--size) / 200) * 1vmin);
}

.background {
  position: absolute;
  width: 100%;
  top: 0;
  margin: auto auto;
  background: var(--dark-red);
  background-image: radial-gradient(circle at 50% 0%, rgba(192,69,69,1) 0%, rgba(57,80,127,0.85) 40%, rgba(25,48,49,1) 100%);
  color: white;
}

.leardboard-logo {
    text-align: center;
    height: 100px;
    width: 100%;
    margin: auto;
    margin-top: 60px;
    user-select: none;
  }
  
  .leardboard-logo b{
    font: 500 100px "Clip";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em var(--neon-pink), 0 0 0.5em var(--neon-pink), 0 0 0.1em var(--neon-pink), 8px 10px 5px rgb(182, 52, 52);
  }
  .leardboard-logo b span{
    animation: blink linear infinite 2s;
  }
  .leardboard-logo b span:nth-of-type(2){
    animation: blink linear infinite 3s;
  }
  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: #333;
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }

.leaderboard {
  
  margin: auto;
  /* margin-top: 20px; */
  height: fit-content;
  width: 1000px;
  border-radius: 30px;
  padding: 50px;
  background-color: transparent;
  font-family: 'Overpass';
}

.rank {
  width: 200px;
  height: 270px;
  border-radius: 10px;
  cursor: pointer;
}

.rank-1 {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 3px 3px hsl(49, 100%, 75%), inset 0px 0px 3px 3px hsl(49, 100%, 75%);

}

.rank-1:hover {
  border: 1px solid hsl(49, 100%, 75%);
  box-shadow: 0 0 10px hsl(54, 100%, 68%), inset 0px 0px 3px 3px hsl(49, 100%, 75%);
  transition: all 0.1s ease;
}


.rank-2 {
  position: absolute;
  top: 160px;
  left: 100px;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 5px hsl(0, 1%, 77%), inset 0px 0px 5px 4px hsl(0, 1%, 77%);
}

.rank-2:hover {
  border: 1px solid hsl(0, 100%, 100%);
  box-shadow: 0 0 10px hsl(0, 1%, 63%), inset 0px 0px 5px 4px hsl(0, 1%, 77%);
  transition: all 0.1s ease;
}

.rank-3 {
  position: absolute;
  top: 160px;
  right: 100px;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 5px hsl(27, 88%, 74%), inset 0px 0px 5px 4px hsl(27, 88%, 74%);
}

.rank-3:hover {
  border: 1px solid hsl(27, 92%, 75%);
  box-shadow: 0 0 10px hsl(27, 76%, 59%), inset 0px 0px 5px 4px hsl(27, 88%, 74%);
  transition: all 0.1s ease;
}

    .top-rank {
      text-align: center;
      line-height: 3;
      position: absolute;
      top: -20px;
      left: -20px;
      background-color: rgb(238, 156, 156);
      color: var(--dark-red);
      border-radius: 50%;
      height: 50px;
      width: 50px;
      border: 2px solid rgb(255, 255, 255);
      box-shadow: 0px 0px 5px 5px rgb(248, 196, 196), inset 0px 0px 5px 4px rgb(238, 156, 156);

    }

    .top-avatar {
      /* background-color: white; */
      margin: auto;
      margin-top: 25px;
      border-radius: 50%;
      border: 1px solid white;
      height: 110px;
      width: 110px;
    }
    
    .top-info {
      margin-top: 3px;
      padding: 10px;;
      text-align: center;
      line-height: 2;
    }


.list {
  padding: 10px;
  padding-top: 500px;
  position: relative;
}

.element {
  display: flex;
  margin: 15px;
  padding: 12px;
  line-height: 2.5;
  /* background-color: rgb(123, 138, 113); */
  /* background: hsl(0, 0%, 36%); */
  /* border-radius: 8px; */
  /* border-bottom-left-radius: 17px;
  border-top-right-radius: 17px; */
  border-bottom: 1px solid hsl(0, 0%, 56%);
  height: 60px;
  cursor: pointer;
}
.element:hover {
  border-bottom: 1px solid hsl(270, 2%, 78%);
  transition: all 0.1s ease;
}
.rank {
    flex: 1;
    padding-left: 5px;
}

.id {
    display: none;
}

.user {
    display: flex;
    flex: 5;
}

.avatar {
    background-color: white;
    margin-top: 4px;
    margin-right: 15px;
    margin-left: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
/* 
.username {
    
} */


.record {
    flex: 3;
}

.rate {
    flex: 2;
}