#msg::placeholder {
    color: white;
}

.chat-room-zone {
    background-color: #071330;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.brief-info {
    background-color: inherit;
    height: 60px;
    border-bottom: 1px solid;
}

.chat-name {
    padding-left: 20px;
    padding-top: 15px;
    color: white;
}

.msg-stream {
    background-color: #071330;
    border-right: 1px solid;
    flex: 1;
    overflow: overlay;
}

.msg-owner {
    margin-left: auto;
    margin-right: 18px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: .5px;
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
    background-color: white;
    text-align: right;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-radius: 10px;
    max-width: 70%;
    word-break: break-word;
}

.msg-other {
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
    background-color: grey;
    text-align: left;
    max-width: 70%;
    word-break: break-word;
}

.msg-string {
    color: black;
}

.msg-sender {
    margin-bottom: auto;
    font-size: 12px;
}


.msg-sent-time {
    background-color: mediumaquamarine;
    color: black;
}

.msg-input-zone {
    padding-bottom: 5px;
    margin-bottom: 3px;
    display: flex;
    height:60px;
    width: 100%;
    border-radius: 12px;
    border-right: 1px solid;
}

.msg-input-area {
    margin: auto;
    margin-bottom: 3px;
    padding: 20px;
    background-color: #738FA7;
    height: 40px;
    border-radius: 12px;
    margin-left: 12px;
    margin-right: 12px;
    outline: none;
    border: none;
    color: white;
    flex:1;
}
