
.preview-zone {
    background-color: rosybrown;
    flex: 1;
}

.preview-chat-search {
    background-color: palevioletred;
    display: flex;
    height: 6vh;
}


.input-search {
    /* background-color: goldenrod; 
    /* margin: auto; */
    height: 50%;
    width: 70%;
}

.search-button {
    background-color: transparent;
}

.create-room-button {
    background-color: brown;
    height: 100%;
    width: 20%;
}

.preview-chat-list {
    background-color: midnightblue;
    overflow: overlay;
    height: calc(100% - 100px);
}

.preview-chat
{
    background: orange;
    display: flex;
    padding: 10px;

}

.preview-chat-img
{
    background-color: white;
    /* margin: auto; */
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

.preview-chat-info {
    background: grey;
    margin-left: 10px;
    margin-right: 10px;
    width: 80%;
    display: flex;

}

.preview-chat-info-1 {
    background: yellow;
    flex: 4;
    height: 100%;
    width: 80%;

}

.preview-chat-name {
    background: pink;
    color: black;
}

.preview-chat-msg {
    background: white;
    width: 100%;
    color: black;
}

.preview-chat-info-2 {
    background: orange;
    flex: 1;
    width: 80%;

}

.preview-chat-time {
    background: greenyellow;
}

.preview-chat-unread {
    background: purple;
}
