
.preview-zone {
    background-color: inherit;
    width: 250px;
    border-right: 1px solid;
}

.preview-chat-search {
    /* background-color: palevioletred; */
    display: flex;
    height: 60px;
    border-bottom: 1px solid;
}

.input-search {
    /* background-color: goldenrod; */
    padding: 10px;
    margin-top: 1px;
    width: 190px;
}

.add-room-button {
    background-color: grey;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 15px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding-top: 4px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.preview-chat-list {
    /* background-color: midnightblue; */
    overflow: overlay;
    height: calc(100% - 100px);
}

.preview-chat
{
    /* background: orange; */
    height: 80px;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid;

}

.preview-chat:hover
{
    /* background: orange; */
    background-color: #C3CEDA
}
/* 
.preview-chat:active
{
    background-color: rgb(202, 171, 171);
} */

.preview-chat-img
{
    background-color: white;
    margin-top: 5px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

.preview-chat-info {
    /* background: grey; */
    padding-left: 20px;
    width: 80%;
    display: flex;

}

.preview-chat-info-1 {
    /* background: yellow; */
    flex: 4;
    height: 100%;
    width: 80%;

}

    .preview-chat-name {
        /* background: pink; */
        color: white;
        font-size: large;
        margin-bottom: auto;
    }

    .preview-chat-msg {
        /* background: white; */
        color: rgb(97, 95, 95);
        /* word-wrap: break-word; */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.preview-chat-info-2 {
    /* background: orange; */
    flex: 1;
    width: 80%;

}

    .preview-chat-time {
        background: greenyellow;
    }

    .preview-chat-unread {
        background: purple;
    }