.new-room-request {
    background-color: white;
    height: 400px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0px 13px 36px 5px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.room-name-input {
    height: 50px;
    width: 100%;
    margin: auto;
    padding-left: 10px;
    border-radius: 12px;
    border-color: transparent;
}

.room-name-input:focus {
    outline: none;
}

.browse-users {
    max-height: 140px;
    overflow: overlay;
}

.div-switch {
    display: flex;
    margin: 20px 30px 0 20px;
    color: rgb(97, 95, 95);
}

.switch {
    margin-left: auto;
}

.password {
    margin: 20px 30px 0 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
}

.password:focus {
    border-bottom: 1px solid rgb(0, 136, 0);
}

.create-room-button {
    padding: 20px 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 4px;
    text-align: center;
    color: rgb(97, 95, 95);
}

.create-room-button:active {
    background-color: rgb(233, 227, 227);
    color: black;
}

.flexBlock {
    flex:1;
    display: flex;
}