@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Roboto&display=swap');

:root {
    /* Text */
    --text-color-white: #DADADA;
    --text-color-blue: #B9C5FF;
    --text-color-gray: #31353C;
    /* Basic */
    --basic-color-background: #292D32;
    --basic-color-green: #33FF00;
    --basic-color-yellow: #FEE440;
    --basic-color-red: #FF0000;
    /* Cards */
    --cards-color-gray: #31353C;
    --cards-color-blue: #4361EE;
    /* Buttons */
    --buttons-color-icons: #F2F2F2;
    --buttons-color-pink: #F72585;
    --buttons-color-blue: #5D76EC;
    --buttons-color-blue-selected: #3C58DD;
    --buttons-color-blue-disabled: #506DF3;
    --buttons-color-gray-disabled: #3B4048;
    /* Styles */
    --styles-halo-blue: radial-gradient(100% 110.77% at 0% 2.02%, #4361EE 0%, rgba(41, 45, 50, 0) 100%);
    --styles-halo-linear-blue: linear-gradient(358.71deg, rgba(22, 23, 27, 0.5) 0%, rgba(0, 0, 0, 0.1) 0.01%, rgba(67, 97, 238, 0.5) 100%);
    --styles-linear-blue: linear-gradient(135deg, #4361EE 0%, #6982F5 100%);
    --styles-linear-transp-blue: linear-gradient(135deg, rgba(60, 88, 221, 0) 0%, #3C58DD 100%);
    --styles-linear-light-blue: linear-gradient(180deg, #50CAFF -11.53%, #4361EE 100%);
  }

.App {
    background-color: var(--basic-color-background);
  }
  
.form-test {
  font-family: 'IBM Plex Mono', monospace;
  color: var(--text-color-white);
  letter-spacing: +2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.form-control {
  font-family: 'IBM Plex Mono', monospace;
  color: var(--text-color-gray);
  background-color: #ECF0F3;
  box-shadow: inset 4px 4px 5px #C3C3C3, inset -6px -4px 5px #FFFFFF;
  border-radius: 17.5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* border-image: var(--styles-linear-blue)1;
  border-width: 1px; */
}

.form-help-block {
  padding-top: 5px;
  padding-bottom: 10px;
  display: flex;
  align-items: flex-end;
  font-family: 'Roboto'sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 10px;
  opacity: 0.8;
}

  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .Auth-form {
    padding-top: 30px;
    padding-bottom: 50px;
    box-sizing: border-box;

    width: 400px;
    
    background: #2E3238;
    box-shadow: inset 5px 4px 30px #23262B, inset -4px -5px 30px #434851;
    border-radius: 10px;
  }
  
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }

  .form-text {
    /* font-family: 'Roboto' sans-serif; */
    color: green;
  }
  
  .Auth-form-title {
    
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 20px;
  
    letter-spacing: -0.4px;  
    color: var(--text-color-white);
  }

  .text-center{
    padding-top: 16px;
    padding-bottom: 36px;
    display: flex;
    align-items: flex-end;
    font-family: 'Roboto'sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: -0.4px;
    color: var(--text-color-white);
    opacity: 0.8;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }