

.App {
  text-align: center;
  width: 100%;
	height: 100%;
	display: flex;
  flex-direction: column;
  background-color: orange;
}

.butt-off {
  display: none;
}

.ball-off{
  display: none;
}

.ball-on {
  border-radius: 100px;
}

.button {
  position: relative;
  min-height: 50px;
  width: 10em;
  cursor: pointer;
  border: 1px solid rgba(255,255,255, 1);
  background: rgba(250, 246, 8, 0.884);
  color: rgb(15, 36, 231);
  opacity: 1;
  height: 2.3em;
  border-radius: 5px;
  transition: opacity 1s
}

